


.ChannelmodalContainer{
  /* position:absolute; */

}


.editchannelform{
  position:relative;
  left:150px;
  top: 60px;
}


.channeldetailclosebtn{
  padding: 5px
}

.editChannelExpand{
  position:absolute;
  left:-135px;
  top: 42px;
  width: 120px;
  padding: 5px
}

.EditChannelForm{
  position: relative;
   top: 100px;
   right: 150px;
}
