.main-window {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  /* background-color: #1A1D21; */
}
.main-window-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #1A1D21;
  color: #D1D2D3;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.main-window-modal{
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}
.main-window-modal-profile{
  position: absolute;
  z-index: 100;
  top: 44px;
  right: 18px;
  min-width: 255px;
  min-height: 270px;
  max-width: 255px;
  max-height: 270px;
  border-radius: 10px;
  background-color: #222529;
  border:1px solid #d1d2d330;
  pointer-events: none;
  filter:drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
  pointer-events: auto;
}
.profile-modal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 270px;
  width: 100%;
  padding:8px;
  background-color: #222529;
  border-radius: 10px;
}
.profile-modal-name{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color:#D1D2D3;
  font-weight: 700;
  font-size: 14px;
  height: 44px;
  width: 100%;
  padding: 0 10px;
  pointer-events: auto;
}
.profile-modal-user-status{
    z-index: 10;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #00FF00;
    border: 3px solid #222529;


}
.status-modal-options > div{
  user-select: none !important;
}
.profile-modal-status-display{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  width: 100%;
}
.profile-modal-update-status-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  margin-top:10px;
  width: 200px;
  height: 34px;
  padding: 0 10px;
  background-color: #1A1D21;
  color: #D1D2D3;
  border:1px solid #d1d2d330;
  border-radius: 5px;
  cursor: pointer;
}
.profile-modal-logout-button{
  position: absolute;
  display: flex;
  bottom: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  margin-top:10px;
  width: 200px;
  height: 34px;
  padding: 0 10px;
  background-color: #1A1D21;
  color: #D1D2D3;
  border:1px solid #d1d2d330;
  border-radius: 5px;
  cursor: pointer;
}
.profile-modal-update-status-button:hover{
  border:1px solid #d1d2d3aa;
}
.profile-modal-logout-button:hover{
  border:1px solid #d1d2d3aa;
}
.profile-modal-smile{
  padding:5px 10px;
  margin-right: 10px;
  position: relative;
  top:0;
  left:0;
  width: 30px;
  height:30px;

}
.faceicon{
  width:18px;
  height:18px;
}
.yellow{
  color:yellow;
}
.main-window-modal-status{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #0000006b;
  pointer-events: auto;
}
.status-modal{
  width: 400px;
  height:300px;
  border-radius: 10px;
  background-color: #222529;
  border:1px solid #d1d2d330;
  pointer-events: none;
  filter:drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
  pointer-events: auto;
}
.status-modal-x-button{
  position: absolute;
  top: 0px;
  right: 0;
  margin:5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.x-button-icon{
  width: 30px;
  height: 30px;
}
.x-button-icon:hover{
  filter: brightness(1.8);
}
.status-modal-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 10px;
  color:#D1D2D3;
  pointer-events: auto;
}
.status-modal-buttons{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 20px;
  pointer-events: auto;
}
.status-modal-cancel-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  margin-right:10px;
  width: 93px;
  height: 34px;
  padding: 0 10px;
  background-color: #1A1D21;
  color: #D1D2D3;
  border:1px solid #d1d2d330;
  border-radius: 5px;
  cursor: pointer;
}
.status-modal-save-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  width: 93px;
  height: 34px;
  padding: 0 10px;
  background-color: #007a5930;
  color: #D1D2D3;
  border-radius: 5px;
  cursor: not-allowed;
}
.status-modal-save-button-active{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  width: 93px;
  height: 34px;
  padding: 0 10px;
  background-color: #007A5A;
  color: #D1D2D3;
  border-radius: 5px;
  cursor: pointer;
}
.status-modal-save-button:hover{
  filter: brightness(1.2);
}
.status-modal-cancel-button:hover{
  border:1px solid #d1d2d3aa;
}
.status-modal-options{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 10px;
  pointer-events: auto;
}
.status-red{
  background-color: #FF0000;
}
.status-green{
  background-color: #00FF00;
}
.status-yellow{
  background-color: #FFFF00;
}
.status-dim-green{
  background-color: #00FF0066;
}
.status-gray{
  background-color: #D1D2D3;
}
.status-modal-options>div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height:30px;
  margin-top: 5px;
  background-color: #1A1D21;
  padding: 0 10px;
  cursor: pointer;
}
.status-modal-options>div>div{
  margin-right: 10px;
}
.status-modal-options div:hover{
  background-color: #1a1d2167;
}
.profile-modal-status-selected{
  border: 1px solid #007A5A6b;
}
.profile-modal-status-hidden{
  opacity: 0;
  height: 0 !important;
}
.status-modal-textbox{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  background-color: #1A1D21;
  cursor: pointer;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  color:#D1D2D3;
}
.status-modal-textbox:focus{
  outline: none;
}
.status-modal-textbox-holder{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left:10px;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  background-color: #1A1D21;
  padding-left:10px;
  cursor: pointer;
}
